:root {
	/*top container colors*/
	--text-title-top-container: #ffffff;
	--text-top-container: #e8e8e8;
	--text-title-main: #ffffff;
	--text-main: #121212;

	/*bg colors*/
	--lighter-bg: #121212;
	--darker-bg: #000000;

	/*accent colors*/
	--accent-light: #8e62b7;
	--accent: #4b2a74;
	--accent-dark: #3c1a67;
}

.project-img {
	height: 250px;
}

iframe {
	height: 236px;
	width: 560px;
}

/* ===================================================================
 * 							media querries
 * =================================================================== */
@media only screen and (max-width: 1100px) {
	.project-row {
		flex-direction: column-reverse;
	}

	.col-1.content {
		width: 100%;
	}
}

@media only screen and (max-width: 700px) {
	.project-row {
		padding-top: 20px;
	}
}

@media only screen and (max-width: 670px) {
	iframe {
		height: 189px;
		width: 444px;
	}	
}

@media only screen and (max-width: 520px) {
	.project-img {
		width: 100%;
		height: auto;
	}

	iframe {
		height: 145px;
		width: 344px;
	}	
}