:root {
	/*top container colors*/
	--text-title-top-container: #ffffff;
	--text-top-container: #e8e8e8;
	--text-title-main: #ffffff;
	--text-main: #121212;

	/*bg colors*/
	--lighter-bg: #121212;
	--darker-bg: #000000;

	/*accent colors*/
	--accent-light: #c4686f;
	--accent: #cb3e28;
	--accent-dark: #89302e;
	}


/* ===================================================================
 * 							  badges
 * =================================================================== */
.badges, .locked_badges {
	width: 120px;
	padding-top: 10px;

	-webkit-transition-duration: 0.3s;
  	transition-duration: 0.3s;
}

.locked_badges {
	filter: grayscale(100%);
}

 /* main badges container. contains everything */
.all-the-badges {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* between each h2 */
.badge-makers {
	margin-top: 4%;
	width: 100%;

	text-align: center;
}

/* category of badges */
.badge-category {
	margin-top: 2%;
}


/* contains badges */
.badge-category-container {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.badges:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	-webkit-transform: scale(1.45);
	transform: scale(1.45);
	-webkit-transition-duration: 0.3s;
  	transition-duration: 0.3s;
}

p a {
	text-decoration: none;
	color: var(--grey-text);
	font-style: italic;
	transition: color 200ms ease-in-out;
}

a:hover {
	color: var(--accent);
	transition: color 200ms ease-in-out;
}