@use './variables';

.hero-image {
    z-index: 0;
    overflow: hidden;

    display: grid;
    background-image: url(../assets/img/home/banner-render15.jpg);
    background-position: 60%;
    background-repeat: no-repeat;
    background-size: cover;
    
    height: clamp(260px, 50vh, 100vh);
    padding: 0 8%;
}

.hero-box {
    z-index: 1000;

    display: grid;
    grid-template-columns: 65%;
    justify-items: center;
    align-items: center;
    
    margin-top: $relative-navbar-height;
    max-height: 100%;

    .hero-text {
        justify-self: start;

        border-radius: 7px;
        padding: 1.2rem;
        text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
        overflow: visible;
    }

    p {
        max-width: 55ch;
    }
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .hero-text {
        background: linear-gradient(135deg, rgba(100, 100, 100, 0.1), rgba(100, 100, 100, 0.479));
        
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);

        border: 1px solid rgba(0, 0, 0, 0.18);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    }
}

@media only screen and (max-width: $xsmall) {
    .hero-image {
        min-height: fit-content;
        height: clamp(200px, 30vh, 40vh);
    }

    .hero-box {
        grid-template-columns: 100%;
        margin-top: 0;

        .hero-text {
            justify-self: center;
        }
    }
}