nav {
    z-index: 9999;
    position: fixed;
    width: 100%;
    top: 0;
    text-align: center;

    background-color: rgba(0, 0, 0, 0.3);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    transition: all 0.2s;
    
    a {
        float: left;
        font-size: 1rem;
        color: #ececec;
        display: block;
        text-align: center;
        padding: 1.3rem 0;
        text-decoration: none;
        transition: 0.2s;

        &:hover,
        &:focus {
            color: white;
            text-shadow: 0 0 10px white;
            transition: 0.2s;
            cursor: pointer;
        }
    }
    
    ul {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        li {
            list-style: none;
            width: clamp(0%, 15%, 15%);
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: center;
            align-self: center;
        }
    }

    &.solid {
        @include navbar-solid();
    }

    &:hover {
        @include navbar-solid();
    }
}

#mobile-nav {
    display: none;
}

/*
 * Media querries
 */
@media only screen and (max-width: $xsmall) {
    .header #home-img {
        max-height: 45vh !important;
    }

    .header-text {
        margin-top: 0 !important;
    }

    nav {
        display: none;
    }

    // TODO do this properly
    body {
        margin-bottom: 50px !important;
    }

    #mobile-nav {
        z-index: 1000;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        list-style: none;

        font-size: x-large;

        height: 50px;
        width: 100%;
        overflow: auto;
        color: white;
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: $bg;

        a, a:visited {
            color: #ececec;
            fill: #ececec;
            transition: $transition-factor-fast;

            &:hover,
            &:focus {
                color: $accent;
                transition: $transition-factor-fast;
            }
        }
    }
}