$accent: rgb(205, 246, 121);
$bg: #000;

$transition-factor-fast: 0.1s;
$transition-factor-medium: 0.2s;

$img-scale-factor: 0.96;

$navbar-height: 68px;
$relative-navbar-height: 1rem + 2*(1.3rem);
$xsmall: 700px;
$small: 812px;
$medium: 900px;
$large: 1700px;