nav {
  z-index: 9999;
  position: fixed;
  width: 100%;
  top: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.2s;
}
nav a {
  float: left;
  font-size: 1rem;
  color: #ececec;
  display: block;
  text-align: center;
  padding: 1.3rem 0;
  text-decoration: none;
  transition: 0.2s;
}
nav a:hover, nav a:focus {
  color: white;
  text-shadow: 0 0 10px white;
  transition: 0.2s;
  cursor: pointer;
}
nav ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav ul li {
  list-style: none;
  width: 15%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  align-self: center;
}
nav.solid {
  background-color: #000;
  transition: all 0.2s;
}
nav:hover {
  background-color: #000;
  transition: all 0.2s;
}

#mobile-nav {
  display: none;
}

/*
 * Media querries
 */
@media only screen and (max-width: 700px) {
  .header #home-img {
    max-height: 45vh !important;
  }
  .header-text {
    margin-top: 0 !important;
  }
  nav {
    display: none;
  }
  body {
    margin-bottom: 50px !important;
  }
  #mobile-nav {
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    font-size: x-large;
    height: 50px;
    width: 100%;
    overflow: auto;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #000;
  }
  #mobile-nav a, #mobile-nav a:visited {
    color: #ececec;
    fill: #ececec;
    transition: 0.1s;
  }
  #mobile-nav a:hover, #mobile-nav a:focus, #mobile-nav a:visited:hover, #mobile-nav a:visited:focus {
    color: rgb(205, 246, 121);
    transition: 0.1s;
  }
}
.hero-image {
  z-index: 0;
  overflow: hidden;
  display: grid;
  background-image: url(../assets/img/home/banner-render15.jpg);
  background-position: 60%;
  background-repeat: no-repeat;
  background-size: cover;
  height: clamp(260px, 50vh, 100vh);
  padding: 0 8%;
}

.hero-box {
  z-index: 1000;
  display: grid;
  grid-template-columns: 65%;
  justify-items: center;
  align-items: center;
  margin-top: 3.6rem;
  max-height: 100%;
}
.hero-box .hero-text {
  justify-self: start;
  border-radius: 7px;
  padding: 1.2rem;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
  overflow: visible;
}
.hero-box p {
  max-width: 55ch;
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .hero-text {
    background: linear-gradient(135deg, rgba(100, 100, 100, 0.1), rgba(100, 100, 100, 0.479));
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(0, 0, 0, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  }
}
@media only screen and (max-width: 700px) {
  .hero-image {
    min-height: -moz-fit-content;
    min-height: fit-content;
    height: clamp(200px, 30vh, 40vh);
  }
  .hero-box {
    grid-template-columns: 100%;
    margin-top: 0;
  }
  .hero-box .hero-text {
    justify-self: center;
  }
}
:focus {
  outline: none;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0px 0px 3% 0px;
  background-color: #000;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

main a:not(.thumbnail) {
  text-decoration: none;
  position: relative;
  color: rgb(205, 246, 121);
}
main a:not(.thumbnail):after {
  content: "";
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  background: rgb(205, 246, 121);
  transition: 0.2s;
}
main a:not(.thumbnail):hover:after, main a:not(.thumbnail):focus:after {
  width: 100%;
}
main div.projects-container,
main div .header-text,
main div .avatar {
  margin: 0px 15% 0px 15%;
}

.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  max-width: 1700px;
}
.projects-container .thumbnail {
  display: block;
  width: 35%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  cursor: pointer;
  transition: all 0.1s;
}
.projects-container .thumbnail.float-left {
  float: left;
}
.projects-container .thumbnail.float-right {
  float: right;
}
.projects-container .thumbnail:hover, .projects-container .thumbnail:focus {
  transform: scale(0.96);
}
.projects-container .thumbnail img {
  width: 100%;
}
.projects-container .thumbnail img#javelo-img {
  width: 90%;
}
.projects-container .thumbnail img#linktree-img {
  width: 92%;
}
.projects-container .thumbnail img#alb-img {
  max-height: 10rem;
  width: auto;
}
.projects-container .thumbnail img#mastermind-gui-img {
  max-height: 17rem;
  width: auto;
}
.projects-container p {
  padding-bottom: 1%;
}
.projects-container h2 {
  font-size: 1.75rem;
  margin-bottom: 0.8rem;
}
.projects-container .tag {
  opacity: 50%;
  font-size: 0.75rem;
  font-weight: lighter;
  margin-bottom: 0.2rem;
}

.project {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 0;
  margin-left: auto;
  margin-right: auto;
}
.project .project-text {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-basis: 50%;
  padding-bottom: 1rem;
  margin-right: auto;
}
.project a {
  text-decoration: none;
  color: rgb(205, 246, 121);
}

code {
  color: rgb(205, 246, 121);
}

#website .project-text {
  padding-bottom: 0;
  padding-top: 0.8rem;
}

.dmail {
  color: #080808 !important;
}
.dmail:hover {
  color: #202020 !important;
}

/*
 * Filters
 */
#pills {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-top: 0.75rem;
  white-space: nowrap;
  margin: 0 7%;
  overflow-x: scroll;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

button {
  color: white;
  background: #202020;
  border-radius: 25px;
  padding: 10px;
  cursor: pointer;
  border: none;
  transition: all 0.1s;
}
button:hover, button:focus {
  background-color: #505050;
  transition: all 0.1s;
}

.btn.active {
  background: white;
  color: black;
}

.projects-container {
  display: none;
}

.show {
  display: block;
}

/*
 * Media querries
 */
@media only screen and (max-width: 812px) {
  #pills {
    justify-content: start;
    margin-top: 0.5rem;
  }
  .projects-container {
    margin: 0 5ch 0 5ch !important;
  }
}
@media only screen and (max-width: 900px) {
  .project {
    flex-direction: column;
    padding-bottom: 2rem;
  }
  .thumbnail {
    width: 80% !important;
    padding-bottom: 3%;
  }
}
@media only screen and (min-width: 1700px) {
  .projects-container {
    max-width: 1700px;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  #pills {
    padding-bottom: 0.3%;
  }
}/*# sourceMappingURL=main.css.map */