@import "./variables";
@import "./mixins";
@import "./navbar";
@import './header';

// Focus states styled below.
:focus {
    outline: none;
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0px 0px 3% 0px;
    background-color: $bg;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

main {
    a:not(.thumbnail) {
        text-decoration: none;
        position: relative;
        color: $accent;

        &:after {
            content: '';
            height: 2px;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0%;
            background: $accent;
            transition: 0.2s;
        }

        &:hover:after,
        &:focus:after {
            width: 100%;
        }
    }

    div {
        &.projects-container, 
        .header-text, 
        .avatar {
            margin: 0px 15% 0px 15%;
        }
    }
}

.projects-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    max-width: $large;

    .thumbnail {
        display: block;
        width: 35%;
        
        margin-left: auto;
        margin-right: auto;
        text-align: center;

        cursor: pointer;

        -moz-transition: all $transition-factor-fast;
        -webkit-transition: all $transition-factor-fast;
        transition: all $transition-factor-fast;


        &.float-left { float: left; }
        &.float-right { float: right; }

        &:hover,
        &:focus {
            -webkit-transform: scale($img-scale-factor);
            -moz-transform: scale($img-scale-factor);
            -o-transform: scale($img-scale-factor);
            -ms-transform: scale($img-scale-factor);
            transform: scale($img-scale-factor);
        }

        img {
            width: 100%;

            &#javelo-img { width: 90%; }
            &#linktree-img { width: 92%; }
            &#alb-img { 
                max-height: 10rem; 
                width: auto;
            }
            &#mastermind-gui-img { 
                max-height: 17rem; 
                width: auto;
            }
        }
    }

    p {
        padding-bottom: 1%;
    }

    h2 {
        font-size: 1.75rem;
        margin-bottom: 0.8rem;
    }

    .tag {
        opacity: 50%;
        font-size: 0.75rem;
        font-weight: lighter;
        margin-bottom: 0.2rem;
    }
}

.project {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 0;

    margin-left: auto;
    margin-right: auto;
    
    .project-text {
        display: flex;
        flex-direction: column;
        align-content: center;
        flex-basis: 50%;
        padding-bottom: 1rem;
        margin-right: auto;
    }

    a {
        text-decoration: none;
        color: $accent;
    }
}

code {
    color: $accent;
}

#website {
    .project-text {
        padding-bottom: 0;
        padding-top: 0.8rem;
    }
}

.dmail {
    color: #080808 !important;

    &:hover {
        color: #202020 !important;
    }
}

/*
 * Filters
 */
#pills {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-top: 0.75rem;
    white-space: nowrap;
    margin: 0 7%;
    overflow-x: scroll;
}

::-webkit-scrollbar {
    width: 0px; 
    background: transparent;
}

button {
    color: white;
    background: #202020;
    border-radius: 25px;
    padding: 10px;
    cursor: pointer;
    border: none;

    transition: all $transition-factor-fast;

    &:hover,
    &:focus {
        background-color: #505050;
        transition: all $transition-factor-fast;
    }
}

.btn.active {
    background: white;
    color: black;
}

.projects-container {
    display: none;
}

.show {
    display: block;
}

/*
 * Media querries
 */
@media only screen and (max-width: $small) {
    #pills {
        justify-content: start;
        margin-top: 0.5rem;
    }

    // TODO: remove important
    .projects-container {
        margin: 0 5ch 0 5ch !important;
    }
}

@media only screen and (max-width: $medium) {
    .project {
        flex-direction: column;
        padding-bottom: 2rem;
    }

    .thumbnail {
        width: 80% !important;
        padding-bottom: 3%;
    }
}

@media only screen and (min-width: $large) {
    .projects-container {
        max-width: $large;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    // TODO fix 21/9
    #pills {
        padding-bottom: 0.3%;
    }
}